<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head >
    <title>Liste des clients</title>
    <div th:replace="header::header"></div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

	<div class="container">
		<h1>Bienvenu</h1>
		
		
		<p>Voici la liste des clients</p>
		<div class="row">
			<div class="col font-weight-bold">ID</div>
			<div class="col font-weight-bold">Prénom</div>
			<div class="col font-weight-bold">Nom</div>
			<div class="col font-weight-bold">Email</div>
			<div class="col font-weight-bold">Actions</div>
		</div>
		<th:block th:each="client : ${clients}">
			<div class="row">
				<div class="col" th:text="${client.id}" >...</div>
			    <div class="col" th:text="${client.firstname}">...</div>
			    <div class="col" th:text="${client.lastname}">...</div>
			    <div class="col" th:text="${client.email}">...</div>
			    <div class="col"><a href="#"><span class="glyphicon glyphicon-trash"></span></a></div>
		    </div>
		</th:block>
	</div> <!-- /container -->
	
	<div th:replace="footer::footer"></div>
</body>
</html>