<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head >
    <title>Connexion</title>
    <div th:replace="header::header"></div>
</head>
<body>

	<div class="container">
		<h1>Bienvenu</h1>
		<p th:text="'Nous sommes ravi de vous accueillir parmi nous.'" />
	</div> <!-- /container -->
	
	<div th:replace="footer::footer"></div>
</body>
</html>