<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head >
    <title>Connexion</title>
    <div th:replace="header::header"></div>
</head>
<body>

	<div class="container">
		<h1>Bienvenu</h1>
    	<form class="form-group" method="post" th:action="@{/client/login}">
    		<table>
        	<thead><h2 class="form-signin-heading">Veuillez vous connecter</h2></thead>
	        <tbody>
	        <tr><td><input type="email" id="email" class="form-control" placeholder="Email address" th:required="required" th:autofocus="autofocus" /></td></tr>
	        <tr><td><input type="password" id="password" class="form-control" placeholder="Password" th:required="required" /></td></tr>
	        <tr><td><label><input type="checkbox" value="Se souvenir de moi"/>Se souvenir de moi</label></td></tr>
	        <tr><td><a href="registration" th:href="@{/registration}" class="btn btn-primary btn-lg" role="button">S'inscrire</a>
	        <button class="btn btn-primary btn-lg" type="submit">Se connecter</button></td></tr>
	        </tbody>
	        </table>
      </form>
    </div> <!-- /container -->
	
	<div th:replace="footer::footer"></div>
</body>
</html>